
/* Подключение шрифта Roboto */
body {
    font-family:system-ui; /* Устанавливает шрифт Roboto для всей страницы */
    background-color: ivory; /* Задаёт светло-серый фон */
    color: #333; /* Задаёт тёмно-серый цвет для текста */
    padding: 20px; /* Добавляет внутренние отступы */
}

h1 {
    color: #16a085; /* Темно-синий цвет для заголовка */
    text-align: center; /* Выравнивает заголовок по центру */
    margin-bottom: 20px; /* Добавляет отступ снизу */
    text-shadow: #2c3e50;
}

h2, h4 {
    color: #16a085; /* Зелёный цвет для подзаголовков */
    margin-top: 20px; /* Добавляет отступ сверху */
    border-bottom: 2px solid #bdc3c7; /* Добавляет тонкую горизонтальную линию снизу подзаголовков */
    padding-bottom: 10px; /* Добавляет внутренний отступ снизу подзаголовков */
}

p {
    text-align: center; /* Выравнивает текст по центру */
    color: #34495e; /* Цвет текста */
}

img {
    display: block; /* Отображает изображение как блок */
    margin: 20px auto; /* Центрирует изображение по горизонтали и добавляет отступы сверху и снизу */
    border: 2px solid #ccc; /* Добавляет тонкую серую рамку вокруг изображения */
    opacity: 0.8; /* Делает изображение полупрозрачным */
}

.skills li {
    background-color: #ecf0f1; /* Светло-серый фон для элементов списка */
    margin: 10px 10px; /* Добавляет отступы сверху и снизу */
    padding: 15px; /* Добавляет внутренние отступы */
    border: 3px solid #bdc3c7; /* Добавляет тонкую серую рамку вокруг элементов списка */
    color: #2c3e50; /* Темно-синий цвет текста */
    box-sizing: border-box;
    text-align: left; /* Выравнивает текст по левому краю */
}

a {
    color: #e74c3c; /* Красный цвет для ссылок */
    
}

/* Стили для кнопки */
button {
    background-color: #3498db; /* Синий цвет для фона кнопки */
    color: #fff; /* Белый цвет текста кнопки */
    padding: 10px 20px; /* Добавляет внутренние отступы для кнопки */
}
